<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage2.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="untitled-page2 root">
      /*🚩40 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks
      adaptability.❗*/
      <div class="rect"></div>
      <h4 class="highlight">
        All other trademarks and copyrights are the property of their respective owners. Use of these names, trademarks
        and brands does not imply endorsement.
      </h4>
      <div class="rect1"></div>
      <h2 class="medium_title">Bertram Gilfoyle</h2>
      <h4 class="highlight1">Chief Systems Architect</h4>
      <img class="image" src="/assets/man_with_glasses_and_beard.png" alt="alt text" />
      <h2 class="medium_title1">Dinesh Chugtai</h2>
      <h4 class="highlight11">Senior Programmer</h4>
      <img class="image1" src="/assets/serious_man_with_dark_hair.png" alt="alt text" />
      <h2 class="medium_title2">Nelson Bighetti</h2>
      <h4 class="highlight12">Majority Investor</h4>
      <img class="image2" src="/assets/casual_man_with_brown_hair.png" alt="alt text" />
      <h2 class="medium_title3">Monica Hall</h2>
      <h4 class="highlight13">Chief Financial Officer</h4>
      <img class="image3" src="/assets/smiling_woman_with_wavy_hair.png" alt="alt text" />
      <h2 class="medium_title4">Jared Dunn</h2>
      <h4 class="highlight14">Chief Operating Officer</h4>
      <img class="image4" src="/assets/professional_man_in_blazer.png" alt="alt text" />
      <h2 class="medium_title5">Richard Hendricks</h2>
      <h4 class="highlight15">Founder &amp; CEO</h4>
      <img class="image5" src="/assets/young_man_with_checkered_shirt.png" alt="alt text" />
      <h1 class="hero_title">The Team</h1>
      <div class="rect2"></div>
      <h1 class="title">
        Now there&#x27;s a way to give credit where credit is due. Compute credit, that is! <br />The more you share
        your device resources, the more PiedPiperCoin you receive.<br /><br />Whether you&#x27;re a developer with an
        app ready for market, or just an Average Joe with a smartphone you&#x27;ll love all you can do with
        PiedPiperCoin.
      </h1>
      <h1 class="title1_box">
        <span class="title1"
          ><span class="title1_span0">Pied Piper&#x27;s new internet is built </span
          ><span class="title1_span1">for users, by users</span
          ><span class="title1_span2"
            >.<br />You supply the storage, compute, and networking resources that power our entire decentralized
            web.</span
          ></span
        >
      </h1>
      <img class="image11" src="/assets/green_circle_logo.png" alt="alt text" />
      <h1 class="hero_title1">Introducing PiedPiperCoin</h1>
      <img class="image21" src="/assets/network_collaboration_banner.png" alt="alt text" />
      <div class="rect3"></div>
      <h1 class="title1_box1">
        <span class="title1"
          ><span class="title1_span0"
            >Beneath the flashy homepages of your favorite sites lurk Hooli™ and other evil corporations out to hoard
            and sell your most personal data.<br /><br />What was built to be the ultimate platform for the free sharing
            of knowledge has turned into a money-hungry monster feasting on our privacy and freedom.<br /><br />But fear
            not, for Pied Piper has the answer! And it’s simple:<br />An autonomous peer-to-peer network featuring
            distributed storage powered by universal compression, accelerated scheduling allocation, and end-to-end
            encryption.<br /><br />Put even simpler — </span
          ><span class="title1_span11">it’s the internet, completely decentralized.</span></span
        >
      </h1>
      <h1 class="hero_title2">The Problem</h1>
      <img class="cover" src="/assets/abstract_green_connectivity_background.png" alt="alt text" />
      <h1 class="hero_title11">PiperNet Is Here<br /></h1>
      <div class="rect4"></div>
      <img class="image31" src="/assets/pied_piper_logo.png" alt="alt text" />
      <h2 class="medium_title11">the problem</h2>
      <h2 class="medium_title12">the team</h2>
      <h2 class="medium_title13">PiedPiperCoin</h2>
      <h2 class="medium_title14">|</h2>
      <h2 class="medium_title15">|</h2>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
